<!-- <p>solicitud-reclamo works!</p> -->



<div>
    <app-navigation></app-navigation>

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Reclamos</a>
                    <span class="breadcrumb-item active">Solicitar de Reclamo</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
            <span class="bg-secondary pr-3">Formulario de Reclamo</span>
        </h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <form id="contactForm" novalidate="novalidate">                        
                        <br>                        
                        <label for="pedidoSelect">Pedidos:</label>
                        <div class="form-group">
                            <select id="pedidoSelect" [(ngModel)]="pedidoSeleccionado" name="pedido" (change)="onPedidoChange()" class="form-control">
                                <option [ngValue]="null" disabled selected>Seleccione un Pedido</option>
                                <option *ngFor="let pedido of listaPedidos" [ngValue]="pedido">{{ pedido.pedido_info }}</option>
                            </select>
                        </div>
                        <label for="productoSelect">Productos:</label>
                        <div class="form-group">
                            <select id="productoSelect" [(ngModel)]="productoSeleccionado" name="producto" [disabled]="listaProductosPedido.length == 0" class="form-control" (change)="onProductoChange()">
                                <option [ngValue]="null" disabled selected>Seleccione un Producto</option>
                                <option *ngFor="let producto of listaProductosPedido" [ngValue]="producto">{{ producto.producto_info }}</option>
                            </select>
                        </div>
                        
                        <label for="cantidad">Cantidad a Reclamar:</label>
                        <input type="number" id="cantidad" [(ngModel)]="solicitudReclamo.cantidad" name="cantidad" min="0" max="cantidadMaxima" [disabled]="productoSeleccionado == null" placeholder="Cantidad" class="form-control">

                        
                        <br>
                        <label for="motivoSelect">Motivo:</label>
                        <div class="form-group">
                            <select id="motivoSelect" [(ngModel)]="motivoSeleccionado" name="motivo" (change)="onMotivoChange()" class="form-control">
                                <option [ngValue]="null" disabled selected>Seleccione un Motivo</option>
                                <option *ngFor="let motivo of motivos" [ngValue]="motivo">{{ motivo.nombre }}</option>
                            </select>
                        </div>

                        <br>
                        <div>
                            <label for="imagenRegistro">Adjuntar Imagen:</label>
                            <input id="imagenRegistro" type="file" (change)="onFileChange($event)" class="form-control-file">
                        </div>

                        <br>
                        <label for="motivoSelect">Observacion:</label>
                        <div class="control-group">
                            <textarea class="form-control" rows="8" id="observacion" [(ngModel)]="solicitudReclamo.observacion" name="observacion" placeholder="Observaciones" required></textarea>
                        </div>
                        <br>
                        <div>
                            <!-- <button class="btn btn-primary py-2 px-4" (click)="SolicitarReclamo()" type="button" onclick="limpiarCampos()"> -->
                            <button class="btn btn-primary py-2 px-4" (click)="SolicitarReclamo()" type="button">
                                Solicitar Reclamo
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- <script>
        function limpiarCampos() {
            // Limpiar los campos seleccionados
            document.getElementById('pedido').selectedIndex = 0;
            document.getElementById('producto').selectedIndex = 0;
            document.getElementById('cantidad').selectedIndex = 0;
            document.getElementById('motivo').selectedIndex = 0;
            document.getElementById('message').value = ''; // Limpiar textarea
        }
    </script> -->
        
    <!-- <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
            <span class="bg-secondary pr-3">Lista de Devoluciones</span>
        </h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Nro Pedido</th>
                                <th>Artículo</th>
                                <th>Valor</th>
                                <th>Motivo</th>
                                <th>Estado</th>
                                <th>Observaciones</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let devolucion of devoluciones_por_periodo">
                                <td style="text-align: center;">{{devolucion.fecha_creacion}}</td>
                                <td style="text-align: center;">{{devolucion.pedido_id}}</td>
                                <td style="text-align: center;">{{devolucion.total_cantidad}}</td>
                                <td style="text-align: center;">{{devolucion.total}}</td>
                                <td style="text-align: center;">{{devolucion.observaciones}}</td>                                    
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="devoluciones_por_periodo.length > 0" class="control-group">
                        <button class="btn btn-primary py-2 px-4" type="button" (click)="ExportarExcel()">Descargar Excel</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Footer Start -->
    <app-footer></app-footer>
    <!-- Footer End -->
</div>

