<!-- <p>solicitud-reclamo works!</p> -->



<div>
    <app-navigation></app-navigation>

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <span class="breadcrumb-item active">Informes</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Contactanos</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form action="">
                        <h3>Formulario de Registro</h3>
                        <div class="control-group">
                            <label>Nombre:</label>
                            <input type="text" class="form-control" id="name" [(ngModel)]="contacto.nombre" name="contacto.nombre"/>
                        </div>
                        <!-- <div class="form-group">
                            <input type="text" [(ngModel)]="nuevoCliente.nombre" name="nuevoCliente.nombre" placeholder="Nombre" class="form-control">
                        </div> -->

                        <div class="form-group">
                            <select id="pedidoSelect" [(ngModel)]="pedidoSeleccionado" name="pedido" (change)="onPedidoChange()" class="form-control">
                                <option [ngValue]="null" disabled selected>Seleccione un Pedido</option>
                                <option *ngFor="let pedido of listaPedidos" [ngValue]="pedido">{{ pedido.devolucion_info }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="productoSelect" [(ngModel)]="productoSeleccionado" name="producto" [disabled]="listaProductosPedido.length == 0" class="form-control" (change)="onProductoChange()">
                                <option [ngValue]="null" disabled selected>Seleccione una Producto</option>
                                <option *ngFor="let producto of listaProductosPedido" [ngValue]="producto">{{ producto.producto_info }}</option>
                            </select>
                        </div>
                
                        <div class="form-wrapper">
                            <input type="text" [(ngModel)]="nuevoCliente.domicilio" name="nuevoCliente.domicilio"  placeholder="Domicilio" class="form-control">
                            <i class="zmdi zmdi-pin"></i>
                        </div>
                
                        <div class="form-group">
                            <select id="provinciaSelect" [(ngModel)]="provinciaSeleccionada" name="provincia" (change)="onProvinciaChange()" class="form-control">
                                <option [ngValue]="null" disabled selected>Seleccione una Provincia</option>
                                <option *ngFor="let provincia of provincias" [ngValue]="provincia">{{ provincia.descripcion }}</option>
                            </select>
                        </div>
                        
                        <div class="control-group">
                            <label>Cantidad:</label>
                            <input type="text" class="form-control" id="subject" [(ngModel)]="contacto.cantidad" name="contacto.cantidad"
                                required="required" data-validation-required-message="Please enter a subject" />
                            <p class="help-block text-danger"></p>
                        </div>
                        
                        <div class="control-group">
                            <label>Observacion:</label>
                            <textarea class="form-control" rows="8" id="message" [(ngModel)]="contacto.observacion" name="contacto.observacion"
                                required="required"
                                data-validation-required-message="Please enter your message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        
                        <button (click)="registrarUsuario()" type="button">
                                Registrar <i class="zmdi zmdi-arrow-right"></i>
                        </button>
                        
                        <div style="margin-top: 20px; background-color: white; text-align: left;">
                            <a style="color: black; cursor: pointer;" (click)="volver()">
                                <i class="zmdi zmdi-arrow-left"></i> 
                                <span style="margin-left: 10px;">Volver</span>
                            </a>
                        </div>
                    </form>

                    <form name="sentMessage" id="contactForm" (ngSubmit)="enviarMail()" novalidate="novalidate">
                        <div class="control-group">
                            <label>Nombre:</label>
                            <input type="text" class="form-control" id="name" [(ngModel)]="contacto.nombre" name="contacto.nombre"
                                required="required" data-validation-required-message="Please enter your name" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <label>Email:</label>
                            <input type="email" class="form-control" id="email" [(ngModel)]="contacto.email" name="contacto.email"
                                required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <label>Asunto:</label>
                            <input type="text" class="form-control" id="subject" [(ngModel)]="contacto.sujeto" name="contacto.sujeto"
                                required="required" data-validation-required-message="Please enter a subject" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <label>Mensaje:</label>
                            <textarea class="form-control" rows="8" id="message" [(ngModel)]="contacto.mensaje" name="contacto.mensaje"
                                required="required"
                                data-validation-required-message="Please enter your message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Enviar Mensaje</button>
                        </div>
                    </form>
                    <!-- Mostrar un Mensaje cuando se Cargaron Nuevos Productos -->
                    <div [hidden]="mensajeExito == false" style="margin-top: 15px;">
                        <div style="padding-top: 10px; border: 1px solid green; background-color: #aeffa3; border-radius: 5px; text-align: center; ">
                            <p>¡El mensaje ha sido enviado con éxito!</p>                        
                        </div>
                    </div>
                    <!-- <div id="success" *ngIf="mensajeExito">El mensaje ha sido enviado con éxito.</div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <form action="">
        <h3>Formulario de Registro</h3>
        <div class="form-group">
            <input type="text" [(ngModel)]="nuevoCliente.nombre" name="nuevoCliente.nombre" placeholder="Nombre" class="form-control">
            <input type="text" [(ngModel)]="nuevoCliente.apellido" name="nuevoCliente.apellido"  placeholder="Apellido" class="form-control">
        </div>
        
        <div class="form-wrapper">
            <input type="text" [(ngModel)]="nuevoUsuario.email" name="nuevoUsuario.email" placeholder="Email" class="form-control">
            <i class="zmdi zmdi-email"></i>
        </div>
        <div style="background-color: whitesmoke;">
            <div [ngSwitch]="errorEmail">
                <!-- <h5 *ngIf="errorNombre > 0" style="color: red;"><u>Error en el Nombre</u></h5> -->
                <div *ngSwitchCase="1" style="margin-top: -10px; margin-bottom: 10px;"><p style="color: red;">Deben completar el campo Email</p></div>
                <div *ngSwitchCase="2" style="margin-top: -10px; margin-bottom: 10px;"><p style="color: red;">Email muy largo, debe tener menos de 50 caracteres</p></div>
                <div *ngSwitchCase="3" style="margin-top: -10px; margin-bottom: 10px;"><p style="color: red;">Email debe tener un formato correcto</p></div>
                <div *ngSwitchCase="4" style="margin-top: -10px; margin-bottom: 10px;"><p style="color: red;">Email ya Existe en la Base de Datos</p></div>
            </div>     
        </div>   

        <div class="form-wrapper">
            <input type="text" [(ngModel)]="nuevoCliente.telefono" name="nuevoCliente.telefono"  placeholder="Telefono" class="form-control">
            <!-- <i class="fa-solid fa-phone"></i> -->
            <i class="zmdi zmdi-phone"></i>
        </div>
        <!-- CSS de select modificado a .custom-select -->
        <!-- <input type="text" [(ngModel)]="nuevoCliente.provincia" name="nuevoCliente.provincia"  placeholder="Provincia" class="form-control"> -->
        <!-- <div class="form-group">
            <select id="provinciaSelect" [(ngModel)]="provinciaSeleccionada" name="provincia" (change)="onProvinciaChange()" class="form-control">
                <option value="-1" disabled selected>Seleccione una Provincia</option>
                <option *ngFor="let provincia of provincias" [ngValue]="provincia">{{ provincia.descripcion }}</option>
            </select>
        </div> -->
        <div class="form-group">
            <select id="provinciaSelect" [(ngModel)]="provinciaSeleccionada" name="provincia" (change)="onProvinciaChange()" class="form-control">
                <option [ngValue]="null" disabled selected>Seleccione una Provincia</option>
                <option *ngFor="let provincia of provincias" [ngValue]="provincia">{{ provincia.descripcion }}</option>
            </select>
        </div>
        <div class="form-group">
            <!-- CSS de select modificado a .custom-select -->
            <!-- <input type="text" [(ngModel)]="nuevoCliente.localidad" name="nuevoCliente.localidad"  placeholder="Localidad" class="form-control"> -->
            <select id="localidadSelect" [(ngModel)]="localidadSeleccionada" name="localidad" [disabled]="localidades.length == 0" class="form-control" (change)="onLocalidadChange()">
                <option [ngValue]="null" disabled selected>Seleccione una Localidad</option>
                <option *ngFor="let localidad of localidades" [ngValue]="localidad">{{ localidad.descripcion }}</option>
            </select>
        </div>

        <div class="form-wrapper">
            <input type="text" [(ngModel)]="nuevoCliente.domicilio" name="nuevoCliente.domicilio"  placeholder="Domicilio" class="form-control">
            <!-- <i class="fa-solid fa-location-dot"></i> -->
            <i class="zmdi zmdi-pin"></i>
        </div>

        <div class="form-wrapper">
            <input type="text" [(ngModel)]="nuevoCliente.codigo_postal" name="nuevoCliente.codigo_postal"  placeholder="Codigo Postal" class="form-control">
            <!-- <i class="fa-solid fa-location-dot"></i> -->
            <i class="zmdi zmdi-pin"></i>
        </div>

        <div class="form-wrapper">
            <input type="password" [(ngModel)]="nuevoUsuario.contrasenia" name="nuevoUsuario.contrasenia" placeholder="Contraseña" class="form-control">
            <i class="zmdi zmdi-lock"></i>
        </div>
        <div class="form-wrapper">
            <input type="password" [(ngModel)]="conf_contrasenia" name="conf_contrasenia" placeholder="Confirme Contraseña" class="form-control">
            <i class="zmdi zmdi-lock"></i>
        </div>
        <div style="background-color: whitesmoke;">
            <div [ngSwitch]="errorPassword">
                <!-- <h5 *ngIf="errorPassword > 0" style="color: red;"><u>Error en la Contraseña</u></h5> -->
                <div *ngSwitchCase="1"><p style="color: red;">Deben completar el campo Contraseña</p></div>
                <div *ngSwitchCase="2"><p style="color: red;">Contraseña debe tener 8 caracteres</p></div>
                <div *ngSwitchCase="3"><p style="color: red;">Contraseña debe tener 8 caracteres y al menos uno de estos: Mayuscula - Minuscula - Numero - Caracter Especial</p></div>
            </div>     
        </div>
        <div style="background-color: whitesmoke;">
            <p [hidden]="distinta_contrasenia == false" style="color: red;">Las contraseñas deben coincidir</p>
        </div>
        <!-- <button (click)="registrarCliente()" type="button"> -->
        <button (click)="registrarUsuario()" type="button">
            <!-- <a href="../../online-shop-website-template/index.html" style=" color: white;">
                Registrar <i class="zmdi zmdi-arrow-right"></i>
            </a> -->
                Registrar <i class="zmdi zmdi-arrow-right"></i>
        </button>
        
        <div style="margin-top: 20px; background-color: white; text-align: left;">
            <a style="color: black; cursor: pointer;" (click)="volver()">
                <i class="zmdi zmdi-arrow-left"></i> 
                <span style="margin-left: 10px;">Volver</span>
            </a>
        </div>
    </form>

    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
            <span class="bg-secondary pr-3">Informe de Devoluciones</span>
        </h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">                            
                        <div class="form-row">                                
                            <div class="control-group col-md-5">
                                <label for="Fecha desde">Fecha desde:</label>
                                <input type="date" class="form-control" id="Fechadesde" [(ngModel)]="filtro.fecha_desde" name="filtro.fecha_desde" required="required" data-validation-required-message="Por favor, seleccione una fecha">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group col-md-5">
                                <label for="Fecha desde">Fecha hasta:</label>
                                <input type="date" class="form-control" id="Fechahasta" [(ngModel)]="filtro.fecha_hasta" name="filtro.fecha_hasta" required="required" data-validation-required-message="Por favor, seleccione una fecha">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="form-row">                                
                            <div class="control-group col-md-5">
                                <label for="motivo">Seleccionar Motivo Devolución</label>
                                <select class="form-control" id="motivo" name="motivo" required>
                                    <option value="" disabled selected>Seleccione un motivo</option>
                                    <option value="motivo1">Producto Defectuoso</option>
                                    <option value="motivo2">Talle Incorrecto</option>
                                    <option value="motivo3">Producto Faltante/No entregado</option>
                                    <option value="otro">Otro</option>
                                </select>
                                <p class="help-block text-danger"></p>
                            </div>                                
                        </div>
                        <div class="form-row">                                
                            <div class="control-group col-md-5">
                                <label for="motivo">Seleccionar Estado Devolución</label>
                                <select class="form-control" id="motivo" name="motivo" required>
                                    <option value="" disabled selected>Seleccione un estado</option>
                                    <option value="motivo1">Pendiente</option>
                                    <option value="motivo2">Aceptado</option>
                                    <option value="motivo3">Rechazado</option>                                        
                                </select>
                                <p class="help-block text-danger"></p>
                            </div>                                
                        </div>
                        
                        <div class="control-group mt-3">
                            <button class="btn btn-primary py-2 px-4" (click)="DevolucionesPorPeriodo()" type="submit" id="altaButton">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
            <span class="bg-secondary pr-3">Lista de Devoluciones</span>
        </h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Nro Pedido</th>
                                <th>Artículo</th>
                                <th>Valor</th>
                                <th>Motivo</th>
                                <th>Estado</th>
                                <th>Observaciones</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let devolucion of devoluciones_por_periodo">
                                <td style="text-align: center;">{{devolucion.fecha_creacion}}</td>
                                <td style="text-align: center;">{{devolucion.pedido_id}}</td>
                                <td style="text-align: center;">{{devolucion.total_cantidad}}</td>
                                <td style="text-align: center;">{{devolucion.total}}</td>
                                <td style="text-align: center;">{{devolucion.observaciones}}</td>                                    
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="devoluciones_por_periodo.length > 0" class="control-group">
                        <!-- <button class="btn btn-primary py-2 px-4" type="button" id="saveChangesButton">Descargar Excel</button> -->
                        <button class="btn btn-primary py-2 px-4" type="button" (click)="ExportarExcel()">Descargar Excel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Start -->
    <app-footer></app-footer>
    <!-- Footer End -->
</div>

