<!-- <p>shop works!</p> -->
<app-navigation></app-navigation>

<div>
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shop List</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filtrar
                    por Nombre</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="control-group">
                            <input type="text" [(ngModel)]="filtros.nombre" name="nombre" class="form-control" id="Nombre" placeholder="Filtrar por Nombre o Descripcion"/>
                        </div>
                    </form>
                </div>
                <!-- Price End -->

                <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filtrar
                        por Categoria</span></h5>
                <div class="bg-light p-4 mb-30">
                    
                    <div class="form-group">
                        <select id="categoriaSelect" [(ngModel)]="categoriaSeleccionada" name="categoria" (change)="onCategoriaChange()" class="form-control">
                            <option [ngValue]="-1">Seleccione una Categoria</option>
                            <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">{{ categoria.nombre }}</option>
                        </select>   
                    </div>
                    <div class="form-group">
                        <!-- CSS de select modificado a .custom-select -->
                        <!-- <input type="text" [(ngModel)]="nuevoCliente.localidad" name="nuevoCliente.localidad"  placeholder="Localidad" class="form-control"> -->
                        <select id="subcategoriaSelect" [(ngModel)]="subcategoriaSeleccionada" name="subcategoria" [disabled]="categoriaSeleccionada === -1" 
                            (change)="onSubcategoriaChange()" class="form-control">
                            <option [ngValue]="-1">Seleccione una Subcategoria</option>
                            <option *ngFor="let subcategoria of subcategorias" [ngValue]="subcategoria.id">{{ subcategoria.nombre }}</option>
                        </select>
                    </div>
                    
                </div>
                <!-- Price End -->

                <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filtrar
                        por Precio</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="control-group">
                            <input type="number" [(ngModel)]="filtros.precio_desde" name="precio_desde" class="form-control" id="precioDesde" placeholder="Precio Desde"/>
                        </div>
                        <div class="control-group" style="margin-top: 20px;">
                            <input type="number" [(ngModel)]="filtros.precio_hasta" name="precio_hasta" class="form-control" id="precioHasta" placeholder="Precio Hasta"/>
                        </div>
                        <!-- <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="price-all">
                            <label class="custom-control-label" for="price-all">Todos los Precios</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-1">
                            <label class="custom-control-label" for="price-1">$0 - $100</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-2">
                            <label class="custom-control-label" for="price-2">$100 - $200</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-3">
                            <label class="custom-control-label" for="price-3">$200 - $300</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-4">
                            <label class="custom-control-label" for="price-4">$300 - $400</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="price-5">
                            <label class="custom-control-label" for="price-5">$400 - $500</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div> -->
                    </form>
                </div>
                <!-- Price End -->

                <!-- Color Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Fltrar
                        por Color</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" class="custom-control-input" checked id="color-all" name="color" [(ngModel)]="filtros.color" [value]="''" checked>
                            <label class="custom-control-label" for="color-all">Todos los Colores</label>
                            <!-- <span class="badge border font-weight-normal">1000</span> -->
                        </div>
                        <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" class="custom-control-input" id="color-1" name="color" [(ngModel)]="filtros.color" [value]="'Negro'">
                            <label class="custom-control-label" for="color-1">Negro</label>
                            <!-- <span class="badge border font-weight-normal">150</span> -->
                        </div>
                        <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" class="custom-control-input" id="color-2" name="color" [(ngModel)]="filtros.color" [value]="'Blanco'">
                            <label class="custom-control-label" for="color-2">Blanco</label>
                            <!-- <span class="badge border font-weight-normal">295</span> -->
                        </div>
                        <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" class="custom-control-input" id="color-3" name="color" [(ngModel)]="filtros.color" [value]="'Rojo'">
                            <label class="custom-control-label" for="color-3">Rojo</label>
                            <!-- <span class="badge border font-weight-normal">246</span> -->
                        </div>
                        <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" class="custom-control-input" id="color-4" name="color" [(ngModel)]="filtros.color" [value]="'Azul'">
                            <label class="custom-control-label" for="color-4">Azul</label>
                            <!-- <span class="badge border font-weight-normal">145</span> -->
                        </div>
                        <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" class="custom-control-input" id="color-5" name="color" [(ngModel)]="filtros.color" [value]="'Amarillo'">
                            <label class="custom-control-label" for="color-5">Amarillo</label>
                            <!-- <span class="badge border font-weight-normal">168</span> -->
                        </div>
                        <div class="custom-control custom-radio d-flex align-items-center justify-content-between">
                            <input type="radio" class="custom-control-input" id="color-6" name="color" [(ngModel)]="filtros.color" [value]="'Verde'">
                            <label class="custom-control-label" for="color-6">Verde</label>
                            <!-- <span class="badge border font-weight-normal">168</span> -->
                        </div>
                        <!-- <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="color-all">
                            <label class="custom-control-label" for="price-all">Todos los Colores</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">Black</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-2">
                            <label class="custom-control-label" for="color-2">White</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-3">
                            <label class="custom-control-label" for="color-3">Red</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-4">
                            <label class="custom-control-label" for="color-4">Blue</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="color-5">
                            <label class="custom-control-label" for="color-5">Green</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div> -->
                    </form>
                </div>
                <!-- Color End -->

                <!-- Size Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filtrar
                        por Tamaño</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" class="custom-control-input" checked id="size-all" name="size" [(ngModel)]="filtros.talle" [value]="''">
                            <label class="custom-control-label" for="size-all">Todos los Tamaños</label>
                        </div>
                
                        <div *ngFor="let talle of talles; let i = index" class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" class="custom-control-input" id="size-{{i}}" name="size" [(ngModel)]="filtros.talle" [value]="talle.nombre">
                            <label class="custom-control-label" for="size-{{i}}">{{talle.nombre}}</label>
                        </div>
                        <!-- <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" class="custom-control-input" checked id="size-all" name="size" [(ngModel)]="filtros.talle" [value]="''" checked>
                            <label class="custom-control-label" for="size-all">Todos los Tamaños</label>
                        </div>
                        <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" class="custom-control-input" id="size-1" name="size" [(ngModel)]="filtros.talle" [value]="'XS'">
                            <label class="custom-control-label" for="size-1">XS</label>
                        </div>
                        <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" class="custom-control-input" id="size-2" name="size" [(ngModel)]="filtros.talle" [value]="'S'">
                            <label class="custom-control-label" for="size-2">S</label>
                        </div>
                        <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" class="custom-control-input" id="size-3" name="size" [(ngModel)]="filtros.talle" [value]="'M'">
                            <label class="custom-control-label" for="size-3">M</label>
                        </div>
                        <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" class="custom-control-input" id="size-4" name="size" [(ngModel)]="filtros.talle" [value]="'L'">
                            <label class="custom-control-label" for="size-4">L</label>
                        </div>
                        <div class="custom-control custom-radio d-flex align-items-center justify-content-between">
                            <input type="radio" class="custom-control-input" id="size-5" name="size" [(ngModel)]="filtros.talle" [value]="'XL'">
                            <label class="custom-control-label" for="size-5">XL</label>
                        </div> -->
                    </form>
                </div>
                <!-- Size End -->
                 
                <div style="width: 100%; text-align: center;">
                    <button class="btn btn-primary py-2 px-4" (click)="filtrarProductos()" id="BotonFiltrar">Filtrar</button>
                </div>
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <!-- <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                            </div>
                            <div class="ml-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                                        data-toggle="dropdown">Sorting</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Latest</a>
                                        <a class="dropdown-item" href="#">Popularity</a>
                                        <a class="dropdown-item" href="#">Best Rating</a>
                                    </div>
                                </div>
                                <div class="btn-group ml-2">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                                        data-toggle="dropdown">Showing</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">10</a>
                                        <a class="dropdown-item" href="#">20</a>
                                        <a class="dropdown-item" href="#">30</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- Iteración sobre los productos con Paginacion -->
                    <!-- <div class="row" *ngIf="paginatedProducts.length > 0; else sin_productos">
                        <div class="col-lg-4 col-md-6 col-sm-6 pb-1" *ngFor="let product of paginatedProducts">
                            <div class="product-item bg-light mb-4">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-100" [src]="product.imagen" alt="{{ product.nombre }}">
                                </div>
                                <div class="text-center py-4">
                                    <a class="h6 text-decoration-none text-truncate" href="">{{ product.nombre }}</a>
                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                        <h5>{{ product.precio }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #sin_productos>
                        <div style="width: 100%; text-align: center;">
                            <p><strong>No existen Productos que Coincidan con su Busqueda</strong></p>
                        </div>
                    </ng-template> -->
                    
                    <!-- Iteración sobre los productos -->
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1" *ngFor="let product of paginatedProducts">
                        <div class="product-item bg-light mb-4" (click)="seleccionarProducto(product)"> <!-- Ir a Detalles del Producto Seleccionado -->
                            <div class="product-img position-relative overflow-hidden">
                                <!-- normalizeImageUrl(product.imagen) -->

                                <!--  La Imagen tiene una altura máxima de 300 píxeles, manteniendo sus proporciones y rellenando el contenedor, recortando si es necesario -->
                                <img class="img-fluid w-100" [src]="normalizeImageUrl(product.imagen)" alt="{{ product.imagen }}" style="max-height: 400px; object-fit: cover;">
                                <!-- <img class="img-fluid w-100" [src]="'http://127.0.0.1:8000' + product.imagen" alt="{{ product.imagen }}"> -->
                            </div>
                            <div class="text-center py-4">
                                <!-- <a class="h6 text-decoration-none text-truncate" href="">{{ product.nombre }}</a> -->
                                <a class="h6 text-decoration-none text-truncate">{{ product.nombre }}</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>{{ product.precio}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Iteración sobre los productos -->


                    <!-- <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="assets/media/mujer1.jpg" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i
                                            class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i
                                            class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>$123.00</h5>
                                    <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="assets/media/mujer2.jpg" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i
                                            class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i
                                            class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" routerLink="../../productos/detail">Product Name Goes Here</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>$123.00</h5>
                                    <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star-half-alt text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="assets/media/hoferta.jpg" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i
                                            class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i
                                            class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>$123.00</h5>
                                    <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star-half-alt text-primary mr-1"></small>
                                    <small class="far fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- Paginacion -->
                    <div *ngIf="productos.length > 0" class="col-12">
                        <nav>
                            <ul class="pagination justify-content-center">
                                <!-- Boton Pagina Anterior -->
                                <li class="page-item" [class.disabled]="currentPage === 0">
                                    <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <!-- Botones de Paginas -->
                                <li class="page-item" *ngFor="let page of [].constructor(totalPages()); let i = index" [class.active]="i === currentPage">
                                    <a class="page-link" (click)="changePage(i)">{{ i + 1 }}</a>
                                </li>
                                <!-- Boton Pagina Siguiente -->
                                <li class="page-item" [class.disabled]="currentPage >= totalPages() - 1">
                                    <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Paginacion -->

                    <!-- <div class="col-12">
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled"><a class="page-link" href="#"><span>Previous</span></a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div> -->
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

    <!-- Footer Start -->
    <app-footer></app-footer>
    <!-- Footer End -->
</div>