<!-- <p>usuario-registro works!</p>
<div>
    <div></div>
</div> -->

<!-- <head>
    <meta charset="utf-8">
    <title>Registro Nuevo Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    MATERIAL DESIGN ICONIC FONT
    <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

     STYLE CSS
    <link rel="stylesheet" href="usuario-registro.component.css">
</head> -->

<!-- <body>


</body> -->

<div class="wrapper" style="background-image: url('assets/media/inicio-registro/rosas_hd.jpg');">
    <div class="inner">
        <div class="image-holder">
            <img src="assets/media/inicio-registro/sandro2.jpg" alt="room">
        </div>
        <form action="">
            <h3>Formulario de Registro</h3>
            <div class="form-group">
                <input type="text" [(ngModel)]="nuevoCliente.nombre" name="nuevoCliente.nombre" placeholder="Nombre" class="form-control">
                <input type="text" [(ngModel)]="nuevoCliente.apellido" name="nuevoCliente.apellido"  placeholder="Apellido" class="form-control">
            </div>
            
            <div class="form-wrapper">
                <input type="text" [(ngModel)]="nuevoCliente.email" name="nuevoCliente.email" placeholder="Email" class="form-control">
                <i class="zmdi zmdi-email"></i>
            </div>

            <div class="form-wrapper">
                <input type="text" [(ngModel)]="nuevoCliente.telefono" name="nuevoCliente.telefono"  placeholder="Telefono" class="form-control">
                <input type="text" [(ngModel)]="nuevoCliente.domicilio" name="nuevoCliente.domicilio"  placeholder="Domicilio" class="form-control">
                <input type="text" [(ngModel)]="nuevoCliente.localidad" name="nuevoCliente.localidad"  placeholder="Localidad" class="form-control">
                <input type="text" [(ngModel)]="nuevoCliente.provincia" name="nuevoCliente.provincia"  placeholder="Provincia" class="form-control">
                <input type="text" [(ngModel)]="nuevoCliente.codigo_postal" name="nuevoCliente.codigo_postal"  placeholder="Codigo Postal" class="form-control">
                <i class="zmdi zmdi-account"></i>
            </div>

            <div class="form-wrapper">
                <input type="text" [(ngModel)]="nuevoCliente.usuario" name="nuevoCliente.usuario" placeholder="Nombre de Usuario" class="form-control">
                <i class="zmdi zmdi-account"></i>
            </div>
            <!-- <div class="form-wrapper">
                <select name="" id="" class="form-control">
                    <option value="" disabled selected>Sexo</option>
                    <option value="male">Mujer</option>
                    <option value="femal">Hombre</option>
                    <option value="other">Otros</option>
                </select>
                <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
            </div> -->

            <div class="form-wrapper">
                <input type="password" [(ngModel)]="nuevoCliente.contrasenia" name="nuevoCliente.contrasenia" placeholder="Contraseña" class="form-control">
                <i class="zmdi zmdi-lock"></i>
            </div>
            <div class="form-wrapper">
                <input type="password" placeholder="Confirme Contraseña" class="form-control">
                <i class="zmdi zmdi-lock"></i>
            </div>
            <button (click)="registrarCliente()" type="button">
                <!-- <a href="../../online-shop-website-template/index.html" style=" color: white;">
                    Registrar <i class="zmdi zmdi-arrow-right"></i>
                </a> -->
                    Registrar <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </form>
    </div>
</div>

<!-- Poppins-SemiBold -->
<!-- Poppins-Regular -->