<!-- <p>checkout works!</p> -->
<app-navigation></app-navigation>

<div>
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Checkout</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Detalle de Envio</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Nombre</label>
                            <input class="form-control" type="text" [(ngModel)]="cliente.nombre" name="cliente.nombre" readonly placeholder="Nombre">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Apellido</label>
                            <input class="form-control" type="text" [(ngModel)]="cliente.apellido" name="cliente.apellido" readonly placeholder="Apellido">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" [(ngModel)]="usuario.email" name="usuario.email" readonly placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Numero de Telefono</label>
                            <input class="form-control" type="text" [(ngModel)]="cliente.telefono" name="cliente.telefono" readonly placeholder="11 2345 6789">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Domicilio</label>
                            <input class="form-control" type="text" [(ngModel)]="cliente.domicilio" name="cliente.domicilio" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Codigo Postal</label>
                            <input class="form-control" type="text" [(ngModel)]="cliente.codigo_postal" name="cliente.codigo_postal" placeholder="1234">
                        </div>

                        <!-- <div class="col-md-6 form-group">
                            <label>Provincia</label>
                            <input class="form-control" type="text" placeholder="Provincia">
                        </div>-->
                        <div class="col-md-6 form-group">
                            <label>Provincia:</label>
                            <select id="provinciaSelect" [(ngModel)]="provinciaSeleccionada" name="provincia" (change)="onProvinciaChange()" class="form-control">
                                <option [ngValue]="-1" disabled>Seleccione una Provincia</option>
                                <option *ngFor="let provincia of provincias" [ngValue]="provincia">{{ provincia.descripcion }}</option>
                            </select>
                        </div>

                        <!--<div class="col-md-6 form-group">
                            <label>Localidad</label>
                            <input class="form-control" type="text" placeholder="Localidad">
                        </div> -->
                        <div class="col-md-6 form-group">
                            <label>Localidad:</label>
                            <select id="localidadSelect" [(ngModel)]="localidadSeleccionada" name="localidad" (change)="onLocalidadChange()" [disabled]="localidades.length == 0" class="form-control">
                                <option [ngValue]="-1" disabled>Seleccione una Localidad</option>
                                <option *ngFor="let localidad of localidades" [ngValue]="localidad">{{ localidad.descripcion }}</option>
                            </select>
                        </div>

                        <div class="col-md-12 form-group">
                            <label>Mas Informacion</label>
                            <textarea class="form-control" type="text" rows="5" placeholder="Mas Informacion"></textarea>
                        </div>


                        <!-- <div class="col-md-6 form-group">
                            <label>Direccion Secundaria</label>
                            <input class="form-control" type="text" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Pais</label>
                            <select class="custom-select">
                                <option selected>Argentina</option>
                                <option>Afghanistan</option>
                                <option>Albania</option>
                                <option>Algeria</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Ciudad</label>
                            <input class="form-control" type="text" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Localidad</label>
                            <input class="form-control" type="text" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Codigo Postal</label>
                            <input class="form-control" type="text" placeholder="123">
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="newaccount">
                                <label class="custom-control-label" for="newaccount">Crear cuentat</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shipto">
                                <label class="custom-control-label" for="shipto"  data-toggle="collapse" data-target="#shipping-address">Envio a domicilio diferente de facturacion</label>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="collapse mb-5" id="shipping-address">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Shipping Address</span></h5>
                    <div class="bg-light p-30">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>First Name</label>
                                <input class="form-control" type="text" placeholder="John">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Last Name</label>
                                <input class="form-control" type="text" placeholder="Doe">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>E-mail</label>
                                <input class="form-control" type="text" placeholder="example@email.com">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Mobile No</label>
                                <input class="form-control" type="text" placeholder="+123 456 789">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address Line 1</label>
                                <input class="form-control" type="text" placeholder="123 Street">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address Line 2</label>
                                <input class="form-control" type="text" placeholder="123 Street">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Country</label>
                                <select class="custom-select">
                                    <option selected>United States</option>
                                    <option>Afghanistan</option>
                                    <option>Albania</option>
                                    <option>Algeria</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>City</label>
                                <input class="form-control" type="text" placeholder="New York">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>State</label>
                                <input class="form-control" type="text" placeholder="New York">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>ZIP Code</label>
                                <input class="form-control" type="text" placeholder="123">
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Orden de Compra</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom">
                        <h6 class="mb-3">Productos</h6>
                        <div *ngFor="let producto of productosCarrito" class="d-flex justify-content-between">
                            <p>{{ producto.producto_nombre }}</p>
                            <p>${{ producto.sub_total }}</p>
                        </div>
                        <!-- <div class="d-flex justify-content-between">
                            <p>Remera mujer</p>
                            <p>$150</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Remera Hombre</p>
                            <p>$150</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Product Name 3</p>
                            <p>$150</p>
                        </div> -->
                    </div>
                    <div class="border-bottom pt-3 pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>$150</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Envio</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>{{pedido.total}}</h5>
                            <!-- <h5>$160</h5> -->
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Metodos de Pago</span></h5>
                    <div class="bg-light p-30">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                <label class="custom-control-label" for="paypal">Efectivo</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Mercado Pago</label>
                            </div>
                        </div>
                        <!-- <div class="form-group mb-4">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Trtanferencia Bancaria</label>
                            </div>
                        </div> -->
                        <button routerLink="/usuarios/contact" class="btn btn-block btn-primary font-weight-bold py-3">Confirmar Compra</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->

    <!-- Footer Start -->
    <app-footer></app-footer>
    <!-- Footer End -->
</div>