<!-- <p>abm-subcategoria works!</p> -->
 
<app-navigation></app-navigation>

<div>
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <span class="breadcrumb-item active">ABM</span>
                    <span class="breadcrumb-item active">Subcategorias</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- ABM Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">ABM de Subcategorias</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    
                    <ng-container *ngIf="registrar == true; else actualizar">
                        <form action="">
                            <h3>Formulario de Registro</h3>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="SubcategoriaNueva.nombre" name="SubcategoriaNueva.nombre" placeholder="Nombre" class="form-control" style="margin-bottom: 15px;">
                                <input type="text" [(ngModel)]="SubcategoriaNueva.descripcion" name="SubcategoriaNueva.descripcion"  placeholder="Descripcion" class="form-control" style="margin-bottom: 15px;">
                                <!-- <input type="text" [(ngModel)]="categoriaNueva.subcategoria" name="categoriaNueva.subcategoria"  placeholder="Subcategoria" class="form-control"> -->
                                <div class="form-group">
                                    <!-- <select id="categoriaSelect" [(ngModel)]="categoriaSeleccionada" name="categoria" (change)="onCategoriaChange()" class="form-control"> -->
                                    <select id="categoriaSelect" [(ngModel)]="categoriaSeleccionada" name="categoria" class="form-control">
                                        <option [ngValue]="-1" disabled>Seleccione una Categoria</option>
                                        <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">{{ categoria.nombre }}</option>
                                    </select>
                                </div>
                                <input type="text" [(ngModel)]="SubcategoriaNueva.activo" name="SubcategoriaNueva.activo"  placeholder="Activo" class="form-control">
                            </div>
                            
                            <!-- <div class="form-group">
                                <select id="provinciaSelect" [(ngModel)]="provinciaSeleccionada" name="provincia" (change)="onProvinciaChange()" class="form-control">
                                    <option [ngValue]="-1" disabled>Seleccione una Provincia</option>
                                    <option *ngFor="let provincia of provincias" [ngValue]="provincia">{{ provincia.descripcion }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select id="localidadSelect" [(ngModel)]="localidadSeleccionada" name="localidad" [disabled]="localidades.length == 0" class="form-control">
                                    <option [ngValue]="-1" disabled>Seleccione una Localidad</option>
                                    <option *ngFor="let localidad of localidades" [value]="localidad">{{ localidad.descripcion }}</option>
                                </select>
                            </div> -->
                
                            <button (click)="registrarSubcategoria()" type="button">
                                    Registrar <i class="zmdi zmdi-arrow-right"></i>
                            </button>
                        </form>
                    </ng-container>
                    <ng-template #actualizar>
                        <form action="">
                            <h3>Formulario de Modificacion</h3>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="SubcategoriaActualizar.nombre" name="SubcategoriaActualizar.nombre" placeholder="Nombre" class="form-control">
                                <input type="text" [(ngModel)]="SubcategoriaActualizar.descripcion" name="SubcategoriaActualizar.descripcion"  placeholder="Descripcion" class="form-control">
                                <div class="form-group">
                                    <!-- <select id="categoriaSelect" [(ngModel)]="categoriaSeleccionada" name="categoria" (change)="onCategoriaChange()" class="form-control"> -->
                                    <select id="categoriaSelect" [(ngModel)]="categoriaSeleccionada" name="categoria" class="form-control">
                                        <option [ngValue]="-1" disabled>Seleccione una Categoria</option>
                                        <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">{{ categoria.nombre }}</option>
                                    </select>
                                </div>
                                <input type="text" [(ngModel)]="SubcategoriaActualizar.activo" name="SubcategoriaActualizar.activo"  placeholder="Activo" class="form-control">
                            </div>
                            
                            
                            <!-- <div class="form-group">
                                <select id="provinciaSelect" [(ngModel)]="provinciaSeleccionada" name="provincia" (change)="onProvinciaChange()" class="form-control">
                                    <option [ngValue]="-1" disabled>Seleccione una Provincia</option>
                                    <option *ngFor="let provincia of provincias" [ngValue]="provincia">{{ provincia.descripcion }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select id="localidadSelect" [(ngModel)]="localidadSeleccionada" name="localidad" [disabled]="localidades.length == 0" class="form-control">
                                    <option [ngValue]="-1" disabled>Seleccione una Localidad</option>
                                    <option *ngFor="let localidad of localidades" [value]="localidad">{{ localidad.descripcion }}</option>
                                </select>
                            </div> -->
                
                            <button (click)="actualizarSubcategoria()" type="button">
                                    Actualizar <i class="zmdi zmdi-arrow-right"></i>
                            </button>
                        </form>
                    </ng-template>

                    
                    <!-- <td style="text-align: center;">
                                <ul>
                                  <li *ngFor="let subcategoria of categoria.subcategorias">
                                    {{ subcategoria.nombre }}
                                  </li>
                                </ul>
                    </td> -->
                              
                    <table class="abm" border="1" style="width: 1350; margin-top: 20px;">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Categoria</th>
                            <th>Activo</th>
                            <!-- Agrega más encabezados según sea necesario -->
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let subcategoria of subcategorias" (click)="onSelect(subcategoria)">
                            <!-- <tr *ngFor="let categoria of categorias"> -->
                            <!-- <tr *ngFor="let producto of productos"> -->
                              <td style="text-align: center;">{{ subcategoria.nombre }}</td>
                              <td style="text-align: center;">{{ subcategoria.descripcion }}</td>
                              <td style="text-align: center;">{{ subcategoria.categoria }}</td>
                              <td style="text-align: center;">{{ subcategoria.activo }}</td>
                              <!-- Agrega más celdas según sea necesario -->
                            </tr>
                        </tbody>
                    </table>            
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <!-- Footer Start -->
    <app-footer></app-footer>
    <!-- Footer End -->
</div>
