<!-- <p>abm-subcategoria works!</p> -->
 
<app-navigation></app-navigation>

<div>
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <span class="breadcrumb-item active">ABM</span>
                    <span class="breadcrumb-item active">Subcategorias</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- ABM Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">ABM de Subcategorias</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    
                    <ng-container *ngIf="registrar == true; else actualizar">
                        <form action="">
                            <h3>Formulario de Registro</h3>
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" [(ngModel)]="SubcategoriaNueva.nombre" name="SubcategoriaNueva.nombre" placeholder="Nombre" class="form-control" style="margin-bottom: 15px;">
                                <div [hidden]="nuevo_error !== 1" style="margin: 10px 0; padding-top: 10px; border: 1px solid red; background-color: #ffa3a3; border-radius: 5px; text-align: center;">
                                    <p><strong>El Nombre es Obligatorio</strong></p>                        
                                </div>
                                <label for="descripcion">Descripcion:</label>
                                <input type="text" [(ngModel)]="SubcategoriaNueva.descripcion" name="SubcategoriaNueva.descripcion"  placeholder="Descripcion" class="form-control" style="margin-bottom: 15px;">
                                <div [hidden]="nuevo_error !== 2" style="margin: 10px 0; padding-top: 10px; border: 1px solid red; background-color: #ffa3a3; border-radius: 5px; text-align: center;">
                                    <p><strong>La Descripcion es Obligatoria</strong></p>                        
                                </div>
                                <div class="form-group">
                                    <label for="categoria">Categoria:</label>
                                    <select id="categoriaSelect" [(ngModel)]="categoriaSeleccionada" name="categoria" class="form-control">
                                        <option [ngValue]="-1" disabled>Seleccione una Categoria</option>
                                        <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">{{ categoria.nombre }}</option>
                                    </select>
                                </div>
                                <div [hidden]="nuevo_error !== 3" style="margin: 10px 0; padding-top: 10px; border: 1px solid red; background-color: #ffa3a3; border-radius: 5px; text-align: center;">
                                    <p><strong>La Categoria es Obligatoria</strong></p>                        
                                </div>
                                <label for="activo">Activo:</label>
                                <input type="number" [(ngModel)]="SubcategoriaNueva.activo" name="SubcategoriaNueva.activo"  placeholder="Activo" class="form-control">
                                <div [hidden]="nuevo_error !== 4" style="margin: 10px 0; padding-top: 10px; border: 1px solid red; background-color: #ffa3a3; border-radius: 5px; text-align: center;">
                                    <p><strong>El Activo debe ser 1(Activo) o 0(Inactivo)</strong></p>                        
                                </div>
                            </div>
                
                            <button (click)="registrarSubcategoria()" type="button">
                                    Registrar <i class="zmdi zmdi-arrow-right"></i>
                            </button>
                        </form>
                    </ng-container>
                    <ng-template #actualizar>
                        <form action="">
                            <h3>Formulario de Modificacion</h3>
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" [(ngModel)]="SubcategoriaActualizar.nombre" name="SubcategoriaActualizar.nombre" placeholder="Nombre" class="form-control">
                                <div [hidden]="actualizado_error !== 1" style="margin: 10px 0; padding-top: 10px; border: 1px solid red; background-color: #ffa3a3; border-radius: 5px; text-align: center;">
                                    <p><strong>El Nombre es Obligatorio</strong></p>                        
                                </div>
                                <label for="descripcion">Descripcion:</label>
                                <input type="text" [(ngModel)]="SubcategoriaActualizar.descripcion" name="SubcategoriaActualizar.descripcion"  placeholder="Descripcion" class="form-control">
                                <div [hidden]="actualizado_error !== 2" style="margin: 10px 0; padding-top: 10px; border: 1px solid red; background-color: #ffa3a3; border-radius: 5px; text-align: center;">
                                    <p><strong>La Descripcion es Obligatoria</strong></p>                        
                                </div>
                                <div class="form-group">
                                    <label for="categoria">Categoria:</label>
                                    <select id="categoriaSelect" [(ngModel)]="categoriaSeleccionada" name="categoria" class="form-control">
                                        <option [ngValue]="-1" disabled>Seleccione una Categoria</option>
                                        <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">{{ categoria.nombre }}</option>
                                    </select>
                                </div>
                                <div [hidden]="actualizado_error !== 3" style="margin: 10px 0; padding-top: 10px; border: 1px solid red; background-color: #ffa3a3; border-radius: 5px; text-align: center;">
                                    <p><strong>La Categoria es Obligatoria</strong></p>                        
                                </div>

                                <label for="activo">Activo:</label>
                                <input type="number" [(ngModel)]="SubcategoriaActualizar.activo" name="SubcategoriaActualizar.activo"  placeholder="Activo" class="form-control">
                                <div [hidden]="actualizado_error !== 4" style="margin: 10px 0; padding-top: 10px; border: 1px solid red; background-color: #ffa3a3; border-radius: 5px; text-align: center;">
                                    <p><strong>El Activo debe ser 1(Activo) o 0(Inactivo)</strong></p>                        
                                </div>
                            </div>
                
                            <button (click)="actualizarSubcategoria()" type="button">
                                    Actualizar <i class="zmdi zmdi-arrow-right"></i>
                            </button>
                        </form>
                    </ng-template>            
                </div>
            </div>
        </div>

        <div class="row px-xl-5">
            <div class="col-lg-12 table-responsive mb-5">
                <div class="table-responsive">
                    <table *ngIf="subcategorias.length > 0; else empty" class="table table-light table-borderless table-hover text-center mb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Categoria</th>
                                <th>Activo</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            <!-- Iterar sobre productosCarrito para mostrar cada producto en el carrito -->
                            <tr *ngFor="let subcategoria of subcategorias" (click)="onSelect(subcategoria)">
                                <td style="text-align: center;">{{ subcategoria.nombre }}</td>
                                <td style="text-align: center;">{{ subcategoria.descripcion }}</td>
                                <td style="text-align: center;">{{ subcategoria.categoria }}</td>
                                <td style="text-align: center;">{{ subcategoria.activo }}</td>
                                <!-- Agrega más celdas según sea necesario -->
                            </tr>
                        </tbody>
                    </table>
                </div>     

                <!-- Mostrar un Mensaje cuando el Carrito está Vacío -->
                <ng-template #empty>
                    <div style="padding-top: 10px; border: 1px solid blue; background-color: #a3ffff; border-radius: 5px; text-align: center; ">
                        <p><strong>No hay Subcategorias Cargadas</strong></p>                        
                    </div>
                </ng-template>
                <!-- Mostrar un Mensaje cuando el Carrito está Vacío -->
            </div>
        </div>
    </div>
    <!-- ABM End -->

    <!-- Footer Start -->
    <app-footer></app-footer>
    <!-- Footer End -->
</div>
