<!-- <p>navigation works!</p> -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Principal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="usuarios/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="usuarios/usuario-registro">Registro</a>
            </li>		            
            <li class="nav-item">
                <a class="nav-link" routerLink="usuarios/inicio">Inicio</a>
            </li>			            
            <li class="nav-item">
                <a class="nav-link" routerLink="productos/shop">Shop</a>
            </li>			            
            <li class="nav-item">
                <a class="nav-link" routerLink="productos/detail">Detail</a>
            </li>			            
            <li class="nav-item">
                <a class="nav-link" routerLink="productos/cart">Cart</a>
            </li>			            
            <li class="nav-item">
                <a class="nav-link" routerLink="productos/checkout">Checkout</a>
            </li>		            
            <li class="nav-item">
                <a class="nav-link" routerLink="usuarios/contact">Contact</a>
            </li>	
        </ul>        
    </div>
</nav> -->

<!-- Topbar Start -->
<div class="container-fluid">
    <div class="row bg-secondary py-1 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
            <div class="d-inline-flex align-items-center h-100">
                <!-- Ya existe un Menu -->
                <!-- <a class="text-body mr-3" href="">Acerca De</a>
                <a class="text-body mr-3" href="">Contacto</a>
                <a class="text-body mr-3" href="">Ayuda</a>
                <a class="text-body mr-3" href="">Preguntas Frecuentes</a> -->
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                        data-toggle="dropdown">LOGIN</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button routerLink="../../usuarios/login" class="dropdown-item" type="button">Log In</button>
                        <button routerLink="../../usuarios/usuario-registro" class="dropdown-item" type="button">Sign Up</button>
                        <button class="dropdown-item" type="button">Edit Profile</button>
                        <button routerLink="../../usuarios/login" class="dropdown-item" type="button">Log Out</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="d-inline-flex align-items-center d-block d-lg-none">
        <a href="" class="btn px-0 ml-2">
            <i class="fas fa-heart text-dark"></i>
            <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
        </a>
        <a href="" class="btn px-0 ml-2">
            <i class="fas fa-shopping-cart text-dark"></i>
            <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
        </a>
    </div>
</div>
<div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
    <div class="col-lg-4">
        <a href="" class="text-decoration-none">
            <span class="h1 text-uppercase text-primary bg-dark px-2">SANDRO</span>
            <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">NEVER DIES</span>
        </a>
    </div>
    <div class="col-lg-4 col-6 text-left">
        <form action="">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="busqueda" name="busqueda" placeholder="Buscar productos">
                <div (click)="getBuscarProductosActivos()" class="input-group-append">
                    <span style="cursor: pointer" class="input-group-text bg-transparent text-primary">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid bg-dark mb-30">
    <div class="row px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse"
                href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
                <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categorias</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <!-- <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light"
            id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                <div class="navbar-nav w-100" *ngIf="categorias.length > 0">
                    <div *ngFor="let categoria of categorias">
                        <div *ngIf="categoria.subcategorias && categoria.subcategorias.length > 0" class="nav-item dropdown dropright">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <span (click)="getProductsByCategory(categoria.id, categoria.nombre)" style="cursor: pointer">{{ categoria.nombre }}</span> 
                                <i class="fa fa-angle-right float-right mt-1"></i>
                            </a>
                            <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                                <a *ngFor="let subcategoria of categoria.subcategorias" class="dropdown-item" 
                                (click)="getProductsBySubcategory(categoria.id, categoria.nombre, subcategoria.id, subcategoria.nombre)" style="cursor: pointer">{{ subcategoria.nombre }}</a>
                            </div>
                        </div>
                        <div *ngIf="!categoria.subcategorias || categoria.subcategorias.length === 0" class="nav-item">
                            <a class="nav-link" (click)="getProductsByCategory(categoria.id, categoria.nombre)" style="cursor: pointer">{{ categoria.nombre }}</a>
                        </div>
                    </div>
                </div>
            </nav> -->




            <!-- <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light"
            id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                <div class="navbar-nav w-100" *ngIf="categorias.length > 0">
                    <div *ngFor="let categoria of categorias">
                        <div *ngIf="categoria.subcategorias && categoria.subcategorias.length > 0" class="nav-item dropdown dropright">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown"><span (click)="getProductsByCategory(categoria.id)" style="cursor: pointer">{{ categoria.nombre }}</span> <i
                                class="fa fa-angle-right float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                                <a *ngFor="let subcategoria of categoria.subcategorias" class="dropdown-item" 
                                (click)="getProductsBySubcategory(categoria.id, subcategoria.id)" style="cursor: pointer">{{ subcategoria.nombre }}</a>
                            </div>
                        </div>
                        <div *ngIf="!categoria.subcategorias || categoria.subcategorias.length === 0" class="nav-item">
                            <a class="nav-link" (click)="getProductsByCategory(categoria.id)" style="cursor: pointer">{{ categoria.nombre }}</a>
                        </div>
                    </div>
                </div>
            </nav> -->

            <!-- <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light"
                id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                <div class="navbar-nav w-100">
                    <div class="nav-item dropdown dropright">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Sandro Never Dies <i
                                class="fa fa-angle-right float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                            <a href="" class="dropdown-item">Batas</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown dropright">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Operacion Rosa Rosa <i
                                class="fa fa-angle-right float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                            <a href="" class="dropdown-item">Zapatos</a>

                        </div>
                    </div>
                    <div class="nav-item dropdown dropright">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Roberto Sanchez <i
                                class="fa fa-angle-right float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                            <a href="" class="dropdown-item">Lenceria Femenina</a>

                        </div>
                    </div>
                    <div class="nav-item dropdown dropright">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">El Gitano <i
                                class="fa fa-angle-right float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                            <a href="" class="dropdown-item">Ropa Masculina</a>

                        </div>
                    </div>
                    <div class="nav-item dropdown dropright">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Las Nenas<i
                                class="fa fa-angle-right float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                            <a href="" class="dropdown-item">Ropa Infantil Femenina</a>

                        </div>
                    </div>
                    <div class="nav-item dropdown dropright">
                        <a href="#" class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Fuego<i class="fa fa-angle-right float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                            <a href="" class="dropdown-item">Lenceria Masculina</a>

                        </div>
                    </div>
                    <div class="nav-item dropdown dropright">
                        <a href="#" class="nav-link  dropdown-toggle" data-toggle="dropdown">Sandro Vive y Viva
                            Sandro
                            <i class="fa fa-angle-right float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                            <a href="" class="dropdown-item">Linea General</a>

                        </div>
                    </div>
                    <div class="nav-item dropdown dropright">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Muchacho <i
                                class="fa fa-angle-right float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                            <a href="" class="dropdown-item">Ropa Infantil Masculina</a>

                        </div>
                    </div>
                </div>
            </nav> -->
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>
                    <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">

                        <!-- 27/5/2023 No deberia estar Aqui LOGIN -->
                        <!-- <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Login<i
                                    class="fa fa-angle-down mt-1"></i></a>
                            <div class="dropdown-menu bg-primary rounded-0 border-0 m-0 ">
                                <a href="../../TP FINAL INGENIERIA2.0/colorlib-regform-17/colorlib-regform-17/index.html"
                                    class="dropdown-item">login</a>
                                <a href="../../TP FINAL INGENIERIA2.0/colorlib-regform-17/colorlib-regform-17/index(registro fallido).html"
                                    class="dropdown-item">login(Registro fallido)</a>
                                <a href="../../TP FINAL INGENIERIA2.0/colorlib-regform-17/colorlib-regform-17/index(olvido de contraseña).html"
                                    class="dropdown-item">login(olvido de contraseña)</a>
                                <a href="../../TP FINAL INGENIERIA2.0/colorlib-regform-17/colorlib-regform-17/index(olvido de contraseña fallido).html"
                                    class="dropdown-item">login(olvido de contraseña fallido) </a>
                                <a href="../../TP FINAL INGENIERIA2.0/colorlib-regform-17/colorlib-regform-17/index(inicio fallido).html"
                                    class="dropdown-item">login(inicio fallido)</a>
                                <a href="../../TP FINAL INGENIERIA2.0/colorlib-regform-17/colorlib-regform-17/index(inicio de sesion).html"
                                    class="dropdown-item">login(inicio de secion)</a>
                                <a href="../../TP FINAL INGENIERIA2.0/colorlib-regform-17/colorlib-regform-17/index(inicio bloqueado).html"
                                    class="dropdown-item">login(inicio bloqueado)</a>

                            </div>
                        </div> -->

                        <a routerLink="../../usuarios/inicio" class="nav-item nav-link">Inicio</a>
                        <!-- <a routerLink="../../usuarios/inicio" class="nav-item nav-link active">Inicio</a> -->
                        <div class="nav-item dropdown">
                            <!-- <a routerLink="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Productos<i
                                    class="fa fa-angle-down mt-1"></i></a> -->
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">ABM<i
                                class="fa fa-angle-down mt-1"></i></a>
                            <div class="dropdown-menu bg-primary rounded-0 border-0 m-0 ">
                                <!-- <a routerLink="cart(Alta de producto).html" class="dropdown-item">alta de producto</a>
                                <a routerLink="cart(baja de producto).html" class="dropdown-item">baja de producto</a> -->
                                <a routerLink="cart(Alta de producto).html" class="dropdown-item">ABM de Productos</a>
                                <a routerLink="../../abm/categoria" class="dropdown-item">ABM de Categorias</a>
                                <!-- <a routerLink="cart(baja de producto).html" class="dropdown-item">ABM de Categorias</a> -->
                                <a routerLink="cart(baja de producto).html" class="dropdown-item">ABM de Empleados</a>
                                <!-- <a routerLink="cart(baja de producto).html" class="dropdown-item">ABM de Clientes</a> -->
                                <a routerLink="../../abm/cliente" class="dropdown-item">ABM de Clientes</a>
                            </div>
                        </div>

                        <!-- Modificado elemento del Menu en PRODUCTOS -->
                        <!-- <div class="nav-item dropdown">
                            <a routerLink="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Filtro<i
                                    class="fa fa-angle-down mt-1"></i></a>
                            <div class="dropdown-menu bg-primary rounded-0 border-0 m-0 ">

                                <a routerLink="shop.html" class="dropdown-item">Filtro exitoso</a>
                                <a routerLink="filtro no encontrado.html" class="dropdown-item">Filtro fallido</a>
                            </div>
                        </div> -->
                        <!-- <a routerLink="../../productos/shop" class="nav-item nav-link">Productos</a> -->
                        <a (click)="getProductos()" class="nav-item nav-link" style="cursor: pointer">Productos</a>
                        <a routerLink="../../productos/cart" class="nav-item nav-link">Carrito de compra</a>
                        
                        <!-- Modificado CARRITO DE COMPRA ahora en Menu no Submenu  y ORDEN DE COMPRA solo accesible desde la busqueda de Productos-->
                        <!-- <div class="nav-item dropdown">
                            <a routerLink="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Compra<i
                                    class="fa fa-angle-down mt-1"></i></a>
                            <div class="dropdown-menu bg-primary rounded-0 border-0 m-0 ">

                                <a routerLink="detail.html" class="dropdown-item">Orden de compra</a>
                                <a routerLink="detail_AGOTADO.html" class="dropdown-item">Orden de compra agotado</a>
                                <a routerLink="cart.html" class="dropdown-item">Carrito de compra</a>
                                <a routerLink="cart(Carrrito vacio).html" class="dropdown-item">Carrito Vacio</a>
                            </div>
                        </div> -->
                        <!-- <a routerLink="checkout.html" class="nav-item nav-link">Detalles de Envio</a> -->
                        <a routerLink="../../usuarios/contact" class="nav-item nav-link">Contacto</a>
                        <a routerLink="../../usuarios/contact" class="nav-item nav-link">Devoluciones</a>

                        <!-- Modificacion de Menu VENTAS a INFORMES -->
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Informes<i
                                    class="fa fa-angle-down mt-1"></i></a>
                            <div class="dropdown-menu bg-primary rounded-0 border-0 m-0 ">
                                <a routerLink="alta de producto(menores Ventas).html" class="dropdown-item">Informe Menores Ventas</a>
                                <a routerLink="alta de producto(menores Ventas).html" class="dropdown-item">Informe Mayores Ventas</a>
                                <a routerLink="alta de producto(menores Ventas).html" class="dropdown-item">Informe de Ventas por Período</a>
                                <a routerLink="alta de producto(menores Ventas).html" class="dropdown-item">Informe Devoluciones y Reembolsos</a>
                                <a routerLink="alta de producto(menores Ventas).html" class="dropdown-item">Informe Clientes Destacados</a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                        <a href="" class="btn px-0">
                            <i class="fas fa-heart text-primary"></i>
                            <span class="badge text-secondary border border-secondary rounded-circle"
                                style="padding-bottom: 2px;">0</span>
                        </a>
                        <a href="" class="btn px-0 ml-3">
                            <i class="fas fa-shopping-cart text-primary"></i>
                            <span class="badge text-secondary border border-secondary rounded-circle"
                                style="padding-bottom: 2px;">0</span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar End -->