<!-- <p>cart works!</p> -->
<app-navigation></app-navigation>

<div>
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Productos</a>
                    <span class="breadcrumb-item active">Cart</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">

                <!-- Si hay un Cliente Logueado Mostramos su Carrito de Compras -->
                <div *ngIf="id_cliente != -1; else SinCliente">
                    <!-- SI EL CARRITO TIENE PRODUCTOS MOSTRAMOS UNA TABLA CON LOS PRODUCTOS QUE CONTIENE EL CARRITO -->
                    <table *ngIf="productosCarrito.length > 0; else emptyCart" class="table table-light table-borderless table-hover text-center mb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Productos</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            <!-- Iterar sobre productosCarrito para mostrar cada producto en el carrito -->
                            <tr *ngFor="let producto of productosCarrito">
                                <td class="align-left">
                                    <!-- [src]="normalizeImageUrl(producto.imagen)" alt="product.imagen" -->
                                    <!-- <img [src]="producto.producto_imagen" alt="{{ producto.producto_nombre }}" style="width: 50px;"> -->
                                    <img [src]="normalizeImageUrl(producto.producto_imagen)" alt="{{ producto.producto_nombre }}" style="max-height: 100px; object-fit: cover;">
                                    <!-- <img class="img-fluid w-100" [src]="normalizeImageUrl(product.imagen)" alt="{{ product.imagen }}" style="max-height: 350px; object-fit: cover;"> -->
                                    {{ producto.producto_nombre }}
                                </td>
                                <td class="align-middle">{{ producto.producto_precio | currency }}</td>
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-minus" (click)="decreaseQuantity(producto)">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" (focus)="guardarValorAnterior(producto)"
                                            (change)="modificarCantidad(producto)" [(ngModel)]="producto.cantidad">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-plus" (click)="increaseQuantity(producto)">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">{{ producto.sub_total | currency }}</td>
                                <td class="align-middle">
                                    <button class="btn btn-sm btn-danger" (click)="removeProduct(producto)">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- SI EL CARRITO TIENE PRODUCTOS MOSTRAMOS UNA TABLA CON LOS PRODUCTOS QUE CONTIENE EL CARRITO -->

                    <!-- Mostrar un Mensaje cuando el Carrito está Vacío -->
                    <ng-template #emptyCart>
                        <!-- <div class="alert alert-info" role="alert" style="border: 1px solid #ff0055; padding: 20px; text-align: center;">
                            <strong>¡Tu carrito está vacío!</strong> Agrega productos para continuar.
                        </div> -->
                        <div style="padding-top: 10px; border: 1px solid red; background-color: #ffa3a3; border-radius: 5px; text-align: center; ">
                            <p><strong>¡Tu carrito está vacío!</strong> Agrega productos para continuar.</p>                        
                        </div>
                    </ng-template>
                    <!-- Mostrar un Mensaje cuando el Carrito está Vacío -->
                </div>
                <!-- Si hay un Cliente Logueado Mostramos su Carrito de Compras -->

                <!-- Mostrar un Mensaje cuando no hay un Cliente Logueado -->
                <ng-template #SinCliente>
                    <div style="padding-top: 10px; border: 1px solid red; background-color: #ffa3a3; border-radius: 5px; text-align: center; ">
                        <p><strong>¡No hay un Cliente Logueado!</strong> Sin Cliente no existe un Carrito para Mostrar</p>                        
                    </div>
                </ng-template>
                <!-- Mostrar un Mensaje cuando el Carrito está Vacío -->

                
            </div>

            <div class="col-lg-4">
                <!-- <form class="mb-30" action="">
                    <div class="input-group">
                        <input type="text" class="form-control border-0 p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form> -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Resumen de la Compra</span></h5>
                <div class="bg-light p-30 mb-5">
                    <!-- number - SIRVE PARA QUE EL DECIMAL SE MANTENGA EN 2 INCLUSO CUANDO TENGA 0 A LA DERECHA  -->
                    <div class="border-bottom pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <!-- <h6>${{pedido.total | currency:'ARS':'symbol':'1.2-2'}}</h6> -->
                            <h6>$ {{pedido.total | number:'1.2-2'}}</h6>
                        </div>
                        <div class="d-flex justify-content-between" *ngIf="descuento > 0">
                            <h6 class="font-weight-medium">Descuento ({{descuento}}%)</h6>
                            <h6 class="font-weight-medium">$ {{subtotal_descuento | number:'1.2-2'}}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">IVA (21%)</h6>
                            <h6 class="font-weight-medium">$ {{iva | number:'1.2-2'}}</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>$ {{totalFinal | number:'1.2-2'}}</h5>
                        </div>
                        <button routerLink="../../productos/checkout" class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To Checkout</button>
                    </div>
                    <!-- number - SIRVE PARA QUE EL DECIMAL SE MANTENGA EN 2 INCLUSO CUANDO TENGA 0 A LA DERECHA  -->
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->

    <!-- Footer Start -->
    <app-footer></app-footer>
    <!-- Footer End -->
</div>
